@font-face {
   font-family: 'Allison_Script';
   font-display: swap;
   src: url('file:///C:/Users/Orange/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-18_145454/fonts/Allison_Script/font.otf');
}
